* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header{
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}

header .brand{
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation{
  position: relative;
}

header .navigation .navigation-items a{
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
  width: 100%;
}

section{
  padding: 100px 200px;
}

/* ---------------------------------------- */

.wf-content {
  column-count: 3;
  column-gap: 10px;
  max-width: 2000px;
  margin: 0 auto;
}

.wf-item {
  border: 5px solid whitesmoke;
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  transition: 0.5s;
}

.wf-content img {
  height: 100%;
  width: 100%;
}

.wf-item:hover {
  transform: scale(1.1);
}

#bigImg {
  width: 100%;
  height: 100vh;
  padding: 100px;
  position: fixed;
  top: 0;
  background-color: aqua;
}


#bigImg div img {
  border: 5px solid whitesmoke;
  width: 100%;
  height: auto;
}


/* 手机端 */
@media (max-width:1040px) {
  header {
    padding: 12px 20px;
  }

  section {
    padding: 100px 20px;
  }

  .home .media-icon {
    right: 15px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before {
    background: rgb(255, 255, 255);
    height: 5px;
  }

  /*导航栏*/
  header .navigation.active .navigation-items {
    background: rgb(255, 255, 255, 0.1);
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    /*背景模糊*/
    backdrop-filter: blur(2px);
  }

  .menu-btn {
    background: url(menu.png)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active {
    z-index: 999;
    background: url(menu.png)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }
}